header{
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px 32px;
  background: rgb(255, 123, 0);
  max-width: 100%;
  justify-content: space-between;

  nav{
    display: flex;

    &>*{
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        transform: scale(1.1);
      }
    }

    &.pages{
      gap: 32px;
    }

    &.icons{
      gap: 20px;
    }
  }
}