@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


#redwood-app{
  background-color: var(--chakra-colors-primary-100);
  font-family: 'Poppins', sans-serif !important;
  padding-bottom: 30px;
}

header{
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px 32px;
  background: var(--chakra-colors-primary-100);
  max-width: 100%;
  justify-content: space-between;

  nav{
    display: flex;

    &>*{
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        transform: scale(1.1);
      }
    }

    &.pages{
      gap: 32px;
    }

    &.icons{
      gap: 20px;
    }
  }
}